.company{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 10px 40px;

    img{
        width: 70px;
    }
}