@import './styles/color';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import './styles/color';

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Manrope, 'san-serif';
}

body {
  background-color: $color-bg;

  a {
    color: unset;
    text-decoration: none;
  }

  .gradient__bg              
  {
  
      /* ff 3.6+ */
      background:-moz-radial-gradient(circle at 2% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  
      /* safari 5.1+,chrome 10+ */
      background:-webkit-radial-gradient(circle at 2% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  
      /* opera 11.10+ */
      background:-o-radial-gradient(circle at 2% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  
      /* ie 10+ */
      background:-ms-radial-gradient(circle at 2% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  
      /* global 92%+ browsers support */
      background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  }   
}

// .App{
//   height: 100vh;
// }

.gradient__text {
  background: $gradient-text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}